<p>
  Only the following opcodes are supported as this was solely created for the lab project.
  And is mapped to the following
  <code>
    <br/>
    ADD  = "000000"<br/>
    SUB  = "000001"<br/>
    AND  = "000010"<br/>
    XOR  = "000011"<br/>
    COM  = "000100"<br/>
    MUL  = "000101"<br/>
    ADDI = "000110"<br/>
    LW   = "000111"<br/>
    SW   = "001000"<br/>
    BEQ  = "001001"<br/>
    JR   = "001010"<br/>
    JMP  = "001011"<br/>
    JAL  = "001100"<br/>
  </code>
  Want to support more oprands? Fork the code here.
</p>
