<div class="jumbotron">
<h1>Opcoder</h1>
<p>Convert your opcode here.. because the manual way sucks.. :)</p>
</div>

<div class="container">
  <form action="/convert" method="POST" accept-charset="utf-8" class="form-horizontal">
    Your opcode definition here:
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label class="col-sm-2 control-label">ADD</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="add" value="000000">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">SUB</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="sub" value="000001">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">AND</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="and" value="000010">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">XOR</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="xor" value="000011">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">COM</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="com" value="000100">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">MUL</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="mul" value="000101">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">ADDI</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="addi" value="000110">
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label class="col-sm-2 control-label">LW</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="lw" value="000111">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">SW</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="sw" value="001000">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">BEQ</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="beq" value="001001">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">JR</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="jr" value="001010">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">JMP</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="jmp" value="001011">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">JAL</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="jal" value="001100">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <textarea name="editor" id="editor">ADD $10,$20,$10</textarea>
      </div>
    </div>

    <br />
    <p><input type="submit" value="Convert →" class="btn btn-default"></p>
  </form>
  <script>
var textArea = document.getElementById('editor');
var editor = CodeMirror.fromTextArea(textArea, {
  lineNumbers: true,
  mode: "verilog",
  theme: "monokai"
});
  </script>


  <div class="page-header">
    <h1>How to use</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      The syntax is as follows:
      <br />
      <code>
        ADDI $2, $0, 0 // ADD<br />
        LW $3, 0($2)   // LW<br />
        ADD $0, $0, $0 // ADD<br />
        JMP 4          // JMP<br />
        SW $1, 0($8)   // SW<br />
        ...<br />
        ...<br />
        ...<br />
      </code>

      <p>Do check out lecture slides for the syntax of instructions.. :)</p>
      <p>My group has been using this and found no problems with it when the correct syntax is used..</p>

      <p>You can set your browser to choose the location to save the `imem` textfile and replace it everytime you convert too..</p>
    </div>
    <div class="col-md-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/iFKyWuGoDuU" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
